<<<<<<< HEAD
@mixin circle($width, $height, $color) {
  width: $width;
  height: $height;
  background-color: $color;
}
=======
@mixin circle($width, $height, $color) {
  width: $width;
  height: $height;
  background-color: $color;
}
>>>>>>> f063963e72cc067ba98155880cf45025fe2c1fc0
