<<<<<<< HEAD
.visualy-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
=======
.visualy-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
>>>>>>> f063963e72cc067ba98155880cf45025fe2c1fc0
