.traditions-section {
  padding-top: 96px;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  &__content {
    max-width: 710px;
  }
  &__title {
    margin-bottom: 42px;
  }

  &__photo {
    border-radius: 200px 200px 4px 4px;
  }

  &__text {
    &--limited {
      max-width: 340px;
    }
  }
}
