<<<<<<< HEAD
.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;
}
.link:hover {
  color: var(--color-brand-normal);
  /* font-weight: 600; */
}
=======
.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;
}
.link:hover {
  color: var(--color-brand-normal);
  /* font-weight: 600; */
}
>>>>>>> f063963e72cc067ba98155880cf45025fe2c1fc0
